.bg-container{
    background-color:blue;
    height:100vh;
    background-size:cover;
    text-align:center;
    color:white;

}
.get{
    background-color:lightblue;
    border:2px solid black;
    color:white;
}
.start{
    background-color:transparent;
    border:2px solid black;
    color:white;
}